body {
    background-color: black;
}

.card {
    margin-top: 8rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.card-header {
    background-color: #111111;
    color: wheat;
}

.card-body {
    background-color: #111111;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-style: hidden;
}

td,
th {
    text-align: left;
    border: 0.1px;
    color: rgb(145, 144, 144);
}

#datetime {
    font-size: 1rem;
}